.container {
  position: relative;
  max-width: 1000px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.container h1{
font-size: 26px;
}

.card{
  position: absolute;
  top: 0px;
  right: 30px;
}